body{
   background-image: url(https://media.istockphoto.com/id/1422642328/photo/white-concrete-texture-polished-wall-background-grey-retro-plain-color-cement-crack-have-sand.webp?b=1&s=170667a&w=0&k=20&c=3c1Sl6QKre4BFLDDweQSaJliRAKMyV3I95y9ERcPu6I=);
   background-size: 100% 100%;
   background-attachment: fixed;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
  }