body{
   background-image: url(https://media.istockphoto.com/id/1422642328/photo/white-concrete-texture-polished-wall-background-grey-retro-plain-color-cement-crack-have-sand.webp?b=1&s=170667a&w=0&k=20&c=3c1Sl6QKre4BFLDDweQSaJliRAKMyV3I95y9ERcPu6I=);
   background-size: 100% 100%;
   background-attachment: fixed;
}

.nav-spacing {
   margin-right: 500px; /* Ajusta este valor según sea necesario */
}

.nav-item:last-child {
   margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.navbar-nav h1 {
   font-size: 1.25rem; /* Ajusta el tamaño de la fuente según sea necesario */
   margin: 0; /* Elimina cualquier margen adicional */
   line-height: 1.5; /* Ajusta la altura de la línea para mejorar la legibilidad */
}

.dropdown-item h2 {
   font-size: 1rem; /* Ajusta el tamaño de la fuente en los elementos del dropdown */
   margin: 0; /* Elimina cualquier margen adicional */
   line-height: 1.5; /* Ajusta la altura de la línea para mejorar la legibilidad */
}
